<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright 2021 WeBank
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~ http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<mapper namespace="com.webank.wedatasphere.streamis.errorcode.dao.StreamErrorCodeMapper">

    <resultMap id="StreamErrorCodeMap" type="com.webank.wedatasphere.streamis.errorcode.entity.StreamErrorCode">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="error_code" property="errorCode" jdbcType="VARCHAR"/>
        <result column="error_desc" property="errorDesc" jdbcType="VARCHAR"/>
        <result column="error_regex" property="errorRegex" jdbcType="VARCHAR"/>
        <result column="error_type" property="errorType" jdbcType="INTEGER"/>
    </resultMap>
    <select id="getErrorCodeList"
            resultType="com.webank.wedatasphere.streamis.errorcode.entity.StreamErrorCode">
        select id , error_code,error_desc,error_regex,error_type from linkis_stream_error_code
    </select>

</mapper>