<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright 2019 WeBank
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~  you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~ http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<mapper namespace="com.webank.wedatasphere.streamis.jobmanager.launcher.dao.ConfigMapper">
    <resultMap id="ConfigKeyValueMap" type="com.webank.wedatasphere.streamis.jobmanager.launcher.entity.ConfigKeyValue">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="key" property="key" jdbcType="VARCHAR"/>
        <result column="description" property="description" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="default_value" property="defaultValue" jdbcType="VARCHAR"/>
        <result column="validate_type" property="validateType" jdbcType="VARCHAR"/>
        <result column="validate_range" property="validateRange" jdbcType="VARCHAR"/>
        <result column="level" property="level" jdbcType="TINYINT"/>
        <result column="treename" property="treeName" jdbcType="VARCHAR"/>
        <result column="configkey_id" property="configkeyId" jdbcType="BIGINT"/>
        <result column="config_value" property="configValue" jdbcType="VARCHAR"/>
        <result column="type" property="type" jdbcType="TINYINT"/>
        <result column="job_id" property="jobId" jdbcType="BIGINT"/>
        <result column="job_name" property="jobName" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="sort" property="sort" jdbcType="INTEGER"/>
        <result column="value_id" property="valueId" jdbcType="BIGINT"/>
    </resultMap>

    <resultMap id="ConfigKeyMap" type="com.webank.wedatasphere.streamis.jobmanager.launcher.entity.ConfigKey">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="key" property="key" jdbcType="VARCHAR"/>
        <result column="description" property="description" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="default_value" property="defaultValue" jdbcType="VARCHAR"/>
        <result column="validate_type" property="validateType" jdbcType="VARCHAR"/>
        <result column="validate_range" property="validateRange" jdbcType="VARCHAR"/>
        <result column="is_hidden" property="isHidden" jdbcType="TINYINT"/>
        <result column="is_advanced" property="isAdvanced" jdbcType="TINYINT"/>
        <result column="level" property="level" jdbcType="TINYINT"/>
        <result column="treename" property="treeName" jdbcType="VARCHAR"/>
        <result column="type" property="type" jdbcType="INTEGER"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="sort" property="sort" jdbcType="INTEGER"/>
    </resultMap>




    <sql id="Config_Key_Column">
        `id`, `key`, `description`, `name`, `default_value`, `validate_type`, `validate_range`, `is_hidden`, `is_advanced`, `level`, `treeName`,`type`,`sort`,`status`
    </sql>

    <sql id="Config_Value_Column">
        `id` ,`configkey_id`,`config_value`,`type`,`job_id`,`job_name`,`config_key`
    </sql>

    <sql id="Config_Key_Value_Column">
        k.id,k.key,k.name,k.description, k.default_value, k.validate_type, k.validate_range, k.is_hidden, k.is_advanced,k.level, k.treeName,k.type,k.sort,k.`status`,v.id as value_id ,v.config_key,v.configkey_id,v.config_value,v.job_id,v.job_name
    </sql>


    <select id="getConfigKey"  resultMap="ConfigKeyMap" >
        SELECT <include refid="Config_Key_Column"/> FROM linkis_stream_configuration_config_key where 1=1
    </select>


    <select id="getConfigKeyValues"  resultMap="ConfigKeyValueMap" >
        SELECT <include refid="Config_Key_Value_Column"/>  FROM linkis_stream_configuration_config_key as k join linkis_stream_configuration_config_value as v on k.id = v.configkey_id
        <where>
            <if test="type != null">k.type = #{type}</if>
            <if test="jobId != null"> AND v.job_id = #{jobId}</if>
        </where>
    </select>


    <select id="getConfigKeyValue"  resultMap="ConfigKeyValueMap">
        SELECT * FROM linkis_stream_configuration_config_value
        <where>
            <if test="configkeyId != null"> configkey_id = #{configkeyId} </if>
            <if test="jobId != null"> AND job_id = #{jobId}</if>
        </where>
    </select>

    <delete id="deleteKeyValue">
        delete from linkis_stream_configuration_config_value
        <where>
            1=1
            <if test="jobId != null">
                AND job_id=#{jobId}
            </if>
            <if test="`type` != null">
                AND `type`=#{type}
            </if>
            <if test="configkeyId != null">
                AND configkey_id=#{configkeyId}
            </if>
        </where>
    </delete>


    <insert id="insertValue" useGeneratedKeys="true" keyProperty="id" parameterType="com.webank.wedatasphere.streamis.jobmanager.launcher.entity.ConfigKeyValue">
        INSERT INTO linkis_stream_configuration_config_value(`configkey_id`,`config_value`,`type`,`job_id`,`job_name`,`config_key`) VALUES(#{configkeyId},#{configValue},#{type},#{jobId},#{jobName},#{configKey})
    </insert>

    <update id="updateUserValue" parameterType="com.webank.wedatasphere.streamis.jobmanager.launcher.entity.ConfigKeyValue">
        UPDATE linkis_stream_configuration_config_value
        <trim prefix="set" suffixOverrides=",">
            <if test="configValue != null">
                config_value=#{configValue},
            </if>
        </trim>
        WHERE id=#{id}
    </update>

</mapper>