<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright 2019 WeBank
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~  you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~ http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<mapper namespace="com.webank.wedatasphere.streamis.jobmanager.manager.dao.StreamBmlMapper">
    <resultMap id="StreamBmlMap" type="com.webank.wedatasphere.streamis.jobmanager.manager.entity.StreamBml">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="bml_type" property="bmlType" jdbcType="INTEGER"/>
        <result column="org_identification" property="orgIdentification" jdbcType="VARCHAR"/>
        <result column="latest_version" property="latestVersion" jdbcType="VARCHAR"/>
    </resultMap>

    <resultMap id="StreamBmlVersionMap" type="com.webank.wedatasphere.streamis.jobmanager.manager.entity.StreamBmlVersion">
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="bml_id" property="bmlId" jdbcType="BIGINT" />
        <result column="version" property="version" jdbcType="VARCHAR" />
        <result column="storage_path" property="storagePath" jdbcType="VARCHAR" />
        <result column="attribute" property="attribute" jdbcType="VARCHAR" />
        <result column="resource_id" property="resourceId" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="StreamBml_Column">
        `id`,`name`,`bml_type`,`org_identification`,`latest_version`
    </sql>

    <sql id="StreamBmlVersion_Column">
        `id`,`bml_id`,`version`,`storage_path`,`attribute`,`resource_id`
    </sql>

    <insert id="insertBml" useGeneratedKeys="true" keyProperty="id" parameterType="com.webank.wedatasphere.streamis.jobmanager.manager.entity.StreamBml">
        INSERT INTO linkis_stream_bml(<include refid="StreamBml_Column" />) VALUES(#{id},#{name},#{bmlType},#{orgIdentification},#{latestVersion})
    </insert>

    <update id="updateBml" parameterType="com.webank.wedatasphere.streamis.jobmanager.manager.entity.StreamBml">
        UPDATE linkis_stream_bml
        <trim prefix="set" suffixOverrides=",">
            <if test="name != null">
                name=#{name},
            </if>
            <if test="bmlType != null">
                bml_type=#{bmlType},
            </if>
            <if test="latestVersion != null">
                latest_version=#{latestVersion}
            </if>
        </trim>
        WHERE id=#{id}
    </update>

    <select id="getStreamBmlById" resultMap="StreamBmlMap">
        SELECT <include refid="StreamBml_Column"/> FROM linkis_stream_bml
        <where>
            <if test="id != null">
                id=#{id}
            </if>
        </where>
    </select>

    <insert id="insertBmlVersion" useGeneratedKeys="true" keyProperty="id" parameterType="com.webank.wedatasphere.streamis.jobmanager.manager.entity.StreamBmlVersion">
        INSERT INTO linkis_stream_bml_version(`bml_id`,`version`,`storage_path`,`attribute`,`resource_id`) VALUES(#{id},#{bmlId},#{version},#{storagePath},#{attribute},#{resourceId})
    </insert>

    <update id="updateBmlVersion" parameterType="com.webank.wedatasphere.streamis.jobmanager.manager.entity.StreamBmlVersion">
        UPDATE linkis_stream_bml_version
        <trim prefix="set" suffixOverrides=",">
            <if test="storagePath != null">
                storage_path=#{storagePath},
            </if>
            <if test="attribute != null">
                `attribute`=#{attribute},
            </if>
            <if test="resourceId != null and resourceId !=''">
                `resource_=id`=#{resourceId},
            </if>
        </trim>
            WHERE id=#{id}
    </update>

    <select id="getStreamBmlVersionById" resultMap="StreamBmlVersionMap">
        SELECT <include refid="StreamBmlVersion_Column" /> FROM linkis_stream_bml_version
        <where>
            1=1
            <if test="bmlId != null">
                AND bml_id=${bmlId}
            </if>
            <if test="version != null">
                AND version=#{version}
            </if>
        </where>
    </select>
</mapper>