<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright 2021 WeBank
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~ http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.webank.wedatasphere.streamis.jobmanager.manager.dao.StreamJobTemplateMapper">

    <select id="getJobTemplate" resultType="com.webank.wedatasphere.streamis.jobmanager.manager.entity.JobTemplateFiles">
        select * from linkis_stream_project_job_template
        where id = #{id} and enable=#{enable}
    </select>

    <insert id="insertJobTemplate" parameterType="com.webank.wedatasphere.streamis.jobmanager.manager.entity.JobTemplateFiles">
        INSERT INTO linkis_stream_project_job_template
        (`name`,`version`,`store_path`,`meta_json`,`project_name`,`date`,`enable`)
        VALUES (#{name},#{version},#{storePath},#{metaJson},#{projectName},#{date},#{enable})
    </insert>

    <select id="selectJobTemplate" resultType="com.webank.wedatasphere.streamis.jobmanager.manager.entity.JobTemplateFiles">
        select * from
        linkis_stream_project_job_template where project_name = #{projectName} and version = #{version} and name = #{name}
    </select>

    <update id="updateJobTemplateById" parameterType="com.webank.wedatasphere.streamis.jobmanager.manager.entity.JobTemplateFiles">
        update linkis_stream_project_job_template set store_path = #{storePath},date = #{date},name=#{name},project_name=#{projectName},enable=#{enable},
        version = #{version},meta_json = #{metaJson}
        where id = #{id}
    </update>

    <select id="getLatestJobTemplate" resultType="java.lang.String">
        SELECT `meta_json` FROM linkis_stream_project_job_template WHERE project_name=#{projectName} AND enable=#{enable} ORDER BY id desc,version desc LIMIT 1
    </select>

    <select id="getLatestJobTemplateFile" resultType="com.webank.wedatasphere.streamis.jobmanager.manager.entity.JobTemplateFiles">
        select * from
        linkis_stream_project_job_template WHERE project_name=#{projectName} AND enable=#{enable} ORDER BY id desc,version desc LIMIT 1
    </select>

    <select id="getJobTemplateByProject" resultType="java.lang.Long">
        SELECT `id` FROM linkis_stream_project_job_template WHERE project_name=#{projectName} ORDER BY version desc LIMIT 1
    </select>

    <update id="setEnableByVersion" parameterType="com.webank.wedatasphere.streamis.jobmanager.manager.entity.JobTemplateFiles">
        UPDATE linkis_stream_project_job_template
        <trim prefix="set" suffixOverrides=",">
            <if test="enable != null">
                enable=#{enable},
            </if>
        </trim>
        where name = #{name} AND version = #{version}
    </update>

    <delete id="deleteTemplateVersions">
        DELETE FROM linkis_stream_project_job_template WHERE project_name =
        #{projectName} AND name = #{name}
        ORDER BY version desc LIMIT 1
    </delete>

    <select id="selectTemplateId" resultType="long">
        SELECT id FROM linkis_stream_project_job_template WHERE project_name =
        #{projectName} AND name = #{name}
    </select>

    <update id="setEnable" parameterType="com.webank.wedatasphere.streamis.jobmanager.manager.entity.JobTemplateFiles">
        UPDATE linkis_stream_project_job_template
        <trim prefix="set" suffixOverrides=",">
            <if test="enable != null">
                enable=#{enable},
            </if>
        </trim>
        WHERE id in
        <foreach collection="templateIds" item="templateId" open="(" separator="," close=")">
            #{templateId}
        </foreach>
    </update>


</mapper>