<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright 2019 WeBank
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~  you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~ http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<mapper namespace="com.webank.wedatasphere.streamis.jobmanager.manager.dao.StreamJobCodeResourceMapper">
    <resultMap id="StreamJobCodeResourceMap" type="com.webank.wedatasphere.streamis.jobmanager.manager.entity.StreamJobCodeResource">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="job_version_id" property="jobVersionId" jdbcType="BIGINT"/>
        <result column="bml_id" property="bmlId" jdbcType="BIGINT"/>
    </resultMap>



    <sql id="Job_Column">
        `id`,`job_version_id`,`bml_id`
    </sql>

    <select id="getJobCodeList" resultMap="StreamJobCodeResourceMap">
        select <include refid="Job_Column" /> from linkis_stream_job_code_resource
        <where>
            1=1
            <if test="jobVersionId != null"> AND job_version_id=#{jobVersionId}</if>
            <if test="bmlId != null"> AND bml_id=#{bmlId}</if>
        </where>
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.webank.wedatasphere.streamis.jobmanager.manager.entity.StreamJobCodeResource">
        insert into linkis_stream_job_code_resource(`job_version_id`,`bml_id`) values(#{jobVersionId},#{bmlId})
    </insert>

    <update id="update" parameterType="com.webank.wedatasphere.streamis.jobmanager.manager.entity.StreamJobCodeResource">
        UPDATE linkis_stream_job_code_resource
        <trim prefix="set" suffixOverrides=",">
            <if test="jobVersionId != null">
                job_version_id=#{jobVersionId},
            </if>
            <if test="bmlId != null">
                bml_id=#{bmlId},
            </if>
        </trim>
        WHERE id=#{id}
    </update>

</mapper>