<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright 2019 WeBank
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~  you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~ http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<mapper namespace="com.webank.wedatasphere.streamis.jobmanager.manager.dao.StreamJobRunRelationMapper">
    <resultMap id="StreamJobRunRelationMap" type="com.webank.wedatasphere.streamis.jobmanager.manager.entity.StreamJobRunRelation">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="job_id" property="jobId" jdbcType="BIGINT"/>
        <result column="job_version_id" property="jobVersionId" jdbcType="BIGINT"/>
        <result column="parent_id" property="parentId" jdbcType="BIGINT"/>
        <result column="level" property="level" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Job_Column">
        `id`,`job_id`,`job_version_id`,`parent_id`,`level`
    </sql>

    <select id="getJobRunRelationList" resultMap="StreamJobRunRelationMap">
        select <include refid="Job_Column" /> from linkis_stream_job_run_relation 
        <where>
            1=1
            <if test="jobId != null"> AND job_id=#{jobId}</if>
        </where>
    </select>
    
    <insert id="insertJobRunRelation" useGeneratedKeys="true" keyProperty="id" parameterType="com.webank.wedatasphere.streamis.jobmanager.manager.entity.StreamJobRunRelation">
        insert into linkis_stream_job_run_relation(`job_id`,`job_version_id`,`parent_id`,`level`) VALUES(#{jobId},#{jobVersionId},#{parentId},#{level})
    </insert>
    
    <update id="updateJobRunRelation" parameterType="com.webank.wedatasphere.streamis.jobmanager.manager.entity.StreamJobRunRelation">
        UPDATE linkis_stream_job_run_relation
        <trim prefix="set" suffixOverrides=",">
            <if test="jobId != null">
                job_id=#{jobId},
            </if>
            <if test="jobVersionId != null">
                job_version_id=#{jobVersionId},
            </if>
            <if test="parentId != null">
                parent_id=#{parentId}
            </if>
        </trim>
        WHERE id=#{id}
    </update>
    
    <delete id="deleteJobRunRelation">
        delete from linkis_stream_job_run_relation where id=#{id}
    </delete>
    
</mapper>